body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	transition: background-color 0.2s, color 0.3s;
	overflow: hidden;
}

#chat-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: border-color 0.2s;
}

#topbar {
	background-color: #fff;
	transition: background-color 0.2s;
}

#chat-window {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #e9e9e9;
	transition: background-color 0.2s;
}

#input-area {
	display: flex;
	padding: 10px;
	background-color: #fff;
	transition: background-color 0.2s;
}

#message-input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
}

#send-button {
	padding: 10px 15px;
	border: none;
	background-color: #007bff;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

#send-button:hover {
	background-color: #0056b3;
}

.message {
	margin: 5px 0;
	padding: 5px;
	border-radius: 4px;
}

.user-message {
	background-color: #d1e7dd;
	align-self: flex-end;
}

.bot-message {
	background-color: #f8d7da;
	align-self: flex-start;
}

/* Dark mode styles */
body.dark-mode {
	background-color: #121212;
//	color: #ffffff;
}

#chat-container.dark-mode {
	border-color: #444;
}

#topbar.dark-mode {
	background-color: #1e1e1e;
}

#chat-window.dark-mode {
	background-color: #1e1e1e;
}

#input-area.dark-mode {
	background-color: #2a2a2a;
}

.user-message.dark-mode {
//	background-color: #3a3a3a;
	background-color: #4c9a76;
}

.bot-message.dark-mode {
//	background-color: #4a4a4a;
	background-color: #c46a72;
}

#dark-mode-toggle {
	width: 48px;
	height: 48px;
	cursor: pointer;
	border: none;
	background: none;
}

/* SVG of dark mode btn icon */
.icon {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	transition: transform 0.4s ease, opacity 0.4s ease;
}

#sun-icon {
	opacity: 1;
}

#moon-icon {
	opacity: 0;
	color: #e9e9e9;
}

#sun-icon.dark-mode {
	opacity: 0;
}

#moon-icon.dark-mode {
	opacity: 1;
}
